/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply text-[62.5%];
}
body {
  @apply text-[1.6rem];
}

@layer base {
  :root {
    --custom-bg-main: 248, 250, 252;
    --custom-bg-secondary: 241, 245, 249;
    --custom-text-1: #020617;
    --custom-text-2: #334155;
  }
}
html.dark {
  --custom-bg-main: 35 35 47;
  --custom-bg-secondary: 44 44 56;
  --custom-text-1: #f1f5f9;
  --custom-text-2: #cbd5e1;
}

.app-layout {
  @apply grid grid-cols-[25rem_1fr] grid-rows-[9rem_1fr] min-h-screen;
}

.sidebar {
  @apply min-h-screen transition-all ease-linear;
}
.main {
  @apply col-start-2;
}
.header {
  @apply col-start-2;
}

@media screen and (max-width: 530px) {
  .app-layout {
    @apply grid-cols-[1fr] grid-rows-[9rem_1fr] relative;
  }
  .main,
  .header {
    @apply col-start-1;
  }
  .sidebar {
    @apply absolute;
  }
  .app-layout.menu .sidebar {
    @apply absolute translate-x-0 block z-[1] w-1/5 left-0 top-0;
  }
}

.main.hidesidebar,
.header.hidesidebar {
  grid-column: 1 / -1;
}
.sidebar.hidesidebar {
  display: none;
}

/* checkbox styles */
.switch {
  display: inline-block;
  height: 2rem;
  position: relative;
  width: 4.5rem;
}

.switch input {
  display: none;
}

.slider {
  background-color: #645fc6;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: '';
  height: 1.7rem;
  left: 56%;
  position: absolute;
  transition: 0.4s;
  width: 1.7rem;
}

input:checked + .slider {
  @apply bg-slate-400;
}

input:checked + .slider:before {
  transform: translateX(-24px);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.main {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Disable vertical scrolling */
}
.coulmns {
  display: flex;
  gap: 2.2rem;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1cc; /* Color of the track */
  border-radius: 10px; /* Optional: rounding the corners */
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 95, 198, 0.78); /* Color of the thumb */
  border-radius: 10px; /* Optional: rounding the corners */
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 95, 198); /* Color of the thumb when hovered */
}

/* Optional: Adding corner for the scrollbar */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* spinner classess */
.spinner {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 rgba(100, 95, 198, 0.78),
    17.4px 21.8px 0 0 rgba(100, 95, 198, 0.78),
    -6.2px 27.2px 0 0 rgba(100, 95, 198, 0.78),
    -25.2px 12px 0 0 rgba(100, 95, 198, 0.78),
    -25.2px -12px 0 0 rgba(100, 95, 198, 0.78),
    -6.2px -27.2px 0 0 rgba(100, 95, 198, 0.78),
    17.4px -21.8px 0 0 rgba(100, 95, 198, 0.78);
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}
